.contact-head-row {
    margin-left: 0.2rem;
}

hr {
    margin-top: 0;
}

.create-contact {
    padding: 2rem;
    max-width: 148px;
}

.contact-row {
    padding: 2rem;
    padding-top: 0;
}

@media screen and (min-width: 500px) {
    .create-contact {
        float: right;
    }
}