.panel-heading {
    padding-left: 3rem;
    padding-right: 3rem;
}

.title {
font-size: 2.5rem;
font-weight: bold;
}

hr {
    margin: 0;
    margin-bottom: 2rem;
}

.contact-row {
    padding: 2rem;
    padding-top: 0;
}

@media screen and (min-width: 500px) {
    .create-contact {
        float: right;
    }
}